<template>
  <div>
    <h1>Tareas</h1>
    <ul>
    
      <li v-for="task in tasks" :key="task.id">
       {{ task.id}} - {{ task.name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tasks: []
    };
  },
  mounted() {
    this.fetchTasks();
  },
  methods: {
    async fetchTasks() {
      try {
        const response = await fetch('http://todo-api:8000/tasks');
        if (!response.ok) {
          throw new Error('Error al obtener las tareas');
        }
        this.tasks = await response.json();
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

